<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./elements/header')%>
</head>

<body class="hold-transition sidebar-mini ">
  <div class="wrapper">
    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
      <img class="animation__shake" src="/images/logo-Item.png" alt="AdminLTELogo" height="60" width="60">
    </div>

    <!-- Navbar -->
    <%- include('./elements/navbar')%>

    <!-- Main Sidebar Container -->
    <%- include('./elements/sidebar')%>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <%- include('./elements/page-header') %>

      <!-- Main content -->
      <%- body%>
    </div>

    <%- include('./elements/footer')%>
  </div>

  <%- include('./elements/scripts')%>
</body>

</html>