<% let menuClass = (systemConfig.viewMenuOpen) ? systemConfig.viewMenuOpen : ''; const ad = systemConfig.prefixAdmin %>
<% let listMenu = [
        {
            name: "Items", parent: true, openMenuClass: false, class_li: "nav-item ", class_i: "nav-icon ti-dashboard", activeClass: false,
            children: [
            {name: "List", link: `/${ad}/items`,activeClass: false},
            {name: "Form", link: `/${ad}/items/form`, activeClass: false }]
        },  
        {
            name: "Widgets",
            parent: false, openMenuClass: false, link: "#", class_li: "nav-item ", class_i: "nav-icon ti-layout-grid3",
            activeClass: false
        }
    ]; %>

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <% listMenu.forEach(menu=> { %>
        <% if(menu.parent){ %>
        <% menu.openMenuClass=(menuClass==menu.name.toLowerCase()) ? true : false; %>
        <% menu.activeClass=(systemConfig.viewStatusActive==menu.name.toLowerCase())? true:false %>

        <li class="nav-item <%= (menu.openMenuClass)?' menu-open':'' %> ">
            <a href="<%= menu.link %>"
                class="nav-link <%= (menu.activeClass) || (menu.openMenuClass) ? 'active':'inactive' %> ">
                <i class="<%= menu.class_i %>"></i>
                <p>
                    <%= menu.name %>
                    <% if(menu.children) { %>
                    <i class="right ti-angle-left"></i>
                    <% } %>
                </p>
            </a>

            <% if(menu.children) { %>
            <ul class="nav nav-treeview">
                <% menu.children.forEach(menuChil=> { %>
                <% menuChil.activeClass=(systemConfig.viewStatusActive==menuChil.name.toLowerCase())?
                                                    true : false; %>
                <li class="nav-item">
                    <a href="<%= menuChil.link %>"
                        class="nav-link <%= (menuChil.activeClass) ? 'active':'inactive' %> ">
                        <i class="far ti-control-record"></i>
                        <p>
                            <%= menuChil.name %>
                        </p>
                    </a>
                </li>
                <% } )%>
            </ul>
            <% } %>
        </li>
        <% } %>
        <% }) %>
    </ul>
</nav>